---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Asistencia",
    titleBottom: "Domiciliaria",
    img: c1,
    alt: "Asistencia domiciliaria",
    link: "#contacto",
  },
  {
    index: 2,
    titleTop: "Cuidados",
    titleBottom: "Paliativos",
    img: c2,
    alt: "Cuidados Paliativos",
    link: "#contacto",
  },
  {
    index: 3,
    titleTop: "Acompañamiento",
    titleBottom: "Terapéutico",
    img: c3,
    alt: "Acompañamiento Terapéutico",
    link: "#contacto",
  },
  {
    index: 1,
    titleTop: "Enfermería",
    titleBottom: "Ambulatoria",
    img: c4,
    alt: "Enfermería Ambulatoria",
    link: "#contacto",
  },
  {
    index: 2,
    titleTop: "Atención y Asistencia Permanente",
    titleBottom: "Las 24 horas, los 365 días",
    img: c5,
    alt: "Asistencia Permanente",
    link: "#contacto",
  },
  {
    index: 3,
    titleTop: "Planes de",
    titleBottom: "Cuidado Personalizado",
    img: c6,
    alt: "Atención Individualizada",
    link: "#contacto",
  },
];

const description =
  "Brindamos atención domiciliaria con compromiso, profesionalismo y calidez. Nuestros servicios están pensados para mejorar la calidad de vida de personas mayores o con necesidades especiales, y ofrecer tranquilidad a sus familias.";
---

<Section id="services">
  <div class="mt-[35px] mb-5">
    <SectionTitle sectionTitle="Nuestros Servicios" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
